.search-box {
	padding: 15px 20px;
	font-size: 24px;

	&::placeholder {
		font-style: italic;
		color: #ccc;
	}
}

.search-button {
	background-color: #a20025;
	color: #fff;
	border-width: 0;
}
