@import '../../scss/variables';

.card-component {
	padding: $column-gutter;
	height: 100%;
	color: #fff;
	text-decoration: none;

	.title {
		font-family: $font-bold;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.description {
		font-size: 14px;
		line-height: 18px;
	}

	.image {
		width: 100%;
		display: block;
	}
}

.card-wrapper {
	.card-component {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
