@import '../../scss/variables';

.card {
	// display: flex;
	padding: 2px;
	height: 100%;
	color: #fff;
	// border: 1px solid #000;

	&.centered-content {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.theme-linkedin {
		background-color: #0077b5;
	}

	&.theme-twitter {
		background-color: #55aded;
	}

	&.theme-facebook {
		background-color: #4267b2;
	}

	&.theme-instagram {
		background: radial-gradient(
			circle at 30% 107%,
			#fdf497 0%,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%
		);
	}

	&.theme-cyan {
		background-color: #1ba1e2;
	}

	&.theme-teal {
		background-color: #00aba9;
	}

	&.theme-magenta {
		background-color: #d80073;
	}

	&.theme-light-purple {
		background-color: #9f00a7;
	}

	.title {
		font-size: 14px;
		line-height: 14px;
		padding: 6px 10px 10px;
	}

	.description {
		font-size: 12px;
		padding: 10px;
	}

	.image {
		width: 100%;
		display: block;
	}
}
