$number-of-columns: 12 !default;
$width-per-column: 100% / 12 !default;
$column-gutter: 20px !default;

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat($number-of-columns, 1fr);
	grid-gap: $column-gutter / 2;

	@for $i from 1 through $number-of-columns {
		.col-#{$i} {
			grid-column: span $i;
		}
	}

	@for $i from 1 through $number-of-columns {
		.row-#{$i} {
			grid-row: span $i;
		}
	}
}

.sub-grid {
	display: grid;
	grid-gap: $column-gutter / 2;
}

.grid-layout-row {
	grid-auto-flow: row;
}

.grid-layout-column {
	grid-auto-flow: column;
}

.grid-layout-dense {
	grid-auto-flow: dense;
}
