.theme-linkedin {
	background-color: #0077b5;
	color: #fff;
}

.theme-twitter {
	background-color: #55aded;
	color: #fff;
}

.theme-facebook {
	background-color: #4267b2;
	color: #fff;
}

.theme-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	color: #fff;
}

.theme-cyan {
	background-color: #1ba1e2;
	color: #fff;
}

.theme-teal {
	background-color: #00aba9;
	color: #fff;
}

.theme-magenta {
	background-color: #d80073;
	color: #fff;
}

.theme-light-purple {
	background-color: #9f00a7;
	color: #fff;
}

.theme-black {
	background-color: #000;
	color: #fff;
}

.theme-orange {
	background-color: #e3a21a;
	color: #fff;
}

.theme-dark-purple {
	background-color: #603cba;
	color: #fff;
}

.theme-blue {
	background-color: #2d89ef;
	color: #fff;
}

.theme-light-blue {
	background-color: #eff4ff;
	color: #222;
}

.theme-dark-blue {
	background-color: #2b5797;
	color: #fff;
}

.theme-steel {
	background-color: #647687;
	color: #fff;
}
